name: Build Artifacts

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install Dependencies
        run: |
          npm init -y
          npm install typescript --save-dev

      - name: Bundle with esbuild
        run: |
          npm install esbuild --no-save
          npx esbuild src/converter.ts \
            --bundle \
            --format=esm \
            --platform=browser \
            --target=es2022 \
            --minify \
            --sourcemap \
            --outfile=dist/converter.bundle.js \
            --define:process.env.NODE_ENV=\"production\" \
            --banner:js="// SPDX-License-Identifier: GPL-3.0-or-later\n// Build: ${{ github.sha }} @ $(date -u '+%Y-%m-%d %H:%M:%S UTC')\n// Repo: https://github.com/siiway/subconverter-snippet"

      - id: inject_core
        name: Inject CORE_URL & Get Time
        run: |
          # 获取日期时间 (UTC)
          UTC_TIME=$(TZ=UTC date '+%Y-%m-%d %H:%M:%S')
          echo "UTC_TIME=$UTC_TIME" >> $GITHUB_OUTPUT

          # 替换 Repo
          sed -i "s|Repo-Placeholder|\${{ github.repository }}|g" src/snippet.js

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Build @ ${{ steps.inject_core.outputs.UTC_TIME }}"
          files: |
            src/snippet.js
            src/frontend.html
            dist/converter.bundle.js
          draft: false
          prerelease: false
          body: |
            在 **${{ steps.inject_core.outputs.UTC_TIME }}** *(UTC 时间)* 的自动构建
            配置的目标仓库: **`${{ github.repository }}`**
            **请不要 删除 / Private 此仓库或 Release, 否则生成的 `snippet.js` 将无法使用!**

            ---

            - `snippet.js`: **上传到 Cloudflare Snippets 的 Snippet 文件**, 用于反代其他两个文件和提供 API 服务
            - `frontend.html`: 配合 `converter.bundle.js` 使用的前端文件 *(需要有 `converter.bundle.js` 在同一目录下)*
            - `converter.bundle.js`: 打包后的转换器核心逻辑

            ---

            部署 & 使用详见仓库 README.md
